<template>
    <v-app>
        <transition mode="out-in">
            <router-view>
            </router-view>
        </transition>
    </v-app>
</template>

<script>
    export default {
        name: "App"
    }
</script>

<style scoped>

</style>
