<template>
    <v-form
        ref="form"
        v-model="valid"
        lazy-validation
    >
        <v-card ref="form">
            <v-system-bar></v-system-bar>
            <v-toolbar flat>
                <v-toolbar-title>Contacts</v-toolbar-title>
                <v-spacer></v-spacer>
                <div>
                    <v-btn
                        text
                        color="deep-purple accent-4"
                        @click="$router.push('/contacts')"
                    >List
                    </v-btn>
                </div>
            </v-toolbar>
            <v-card-text>
                <v-text-field
                    v-model="fname"
                    :counter="10"
                    :rules="nameRules"
                    label="Nom"
                    required
                />

                <v-text-field
                    v-model="lname"
                    :counter="10"
                    :rules="nameRules"
                    label="Prenom"
                    required
                />

                <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="Email"
                    required
                />

                <v-text-field
                    v-model="phone"
                    :rules="phoneRules"
                    label="Téléphone"
                    required
                />

                <v-text-field
                    v-model="adr"
                    label="Adresse"
                    :rules="[() => !!adr.trim() || 'Adresse is required']"
                    required
                />

                <v-text-field
                    ref="zip"
                    v-model="zip"
                    :rules="[() => !!zip || 'ZIP is required']"
                    label="Code Postal"
                    required
                    placeholder="79938"
                />

                <v-text-field
                    ref="country"
                    v-model="country"
                    label="Ville"
                    disabled
                />

                <v-textarea
                    v-model="comments"
                    label="Commentaire"
                    placeholder="Commentaire"
                />
            </v-card-text>
            <v-divider class="mt-12"></v-divider>
            <v-card-actions>
                <v-btn text>Annuler</v-btn>
                <v-spacer></v-spacer>
                <v-slide-x-reverse-transition>
                    <v-tooltip
                        v-if="!valid"
                        left
                    >
                        <template v-slot:activator="{ on }">
                            <v-btn
                                icon
                                class="my-0"
                                @click="resetValidation"
                                v-on="on"
                            >
                                <v-icon>mdi-refresh</v-icon>
                            </v-btn>
                        </template>
                        <span>Refresh form</span>
                    </v-tooltip>
                </v-slide-x-reverse-transition>
                <v-btn color="primary" text @click="submit" :loading="loading">Ajouter</v-btn>
                <v-snackbar
                    v-model="snackbar"
                    :timeout="2000"
                >
                    Ajouter avec success
                    <v-btn
                        color="pink"
                        text
                        @click="snackbar = false"
                    >
                        Fermer
                    </v-btn>
                </v-snackbar>
            </v-card-actions>
        </v-card>
    </v-form>
</template>

<script>
    import axios from 'axios';
    import {mapState, mapMutations} from 'vuex'

    axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
    axios.defaults.headers.common['Access-Control-Allow-Headers'] = 'Origin, X-Requested-With, Content-Type, Accept';

    export default {
        name: "formContact",
        data: () => ({
            loading: false,
            valid: true,
            snackbar: false,
            fname: '',
            lname: '',
            nameRules: [
                v => !!v.trim() || 'Name is required',
                v => (v && v.trim().length <= 10) || 'Name must be less than 10 characters',
            ],
            email: '',
            emailRules: [
                v => !!v.trim() || 'E-mail is required',
                v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
            ],
            phone: '',
            phoneRules: [
                v => !!v.trim() || 'Phone is required',
                v => (v && !isNaN(v) && v.trim().length <= 10) || 'Phone must be less than 10 characters',
            ],
            zip: '',
            country: '',
            comments: '',
            adr: ''
        }),
        watch: {
            zip: function (val) {
                val && val.trim().length >= 4 && this.$http.get(`https://cors-anywhere.herokuapp.com/https://www.zipcodeapi.com/rest/wp3rnv1GFbsTw2ofAYK7CYJej85k5a0eX11pLUecf2s9jGZrck41myMmar1T0ILD/info.json/${val}/degrees`, {
                    headers: {
                        'Access-Control-Allow-Origin': '*',
                        'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept',
                    }
                })
                    .then(response => {
                        console.log(response.data)
                        if (response.data.city)
                            this.country = response.data.city
                    })
                    .catch(e => {
                        console.log("There was an error: " + e);
                    })
            }
        },
        created() {
            //console.log(this.$store.state.contacts)
            //this.$store.commit('addContact', 1);
        },
        computed: {
            ...mapState(['contacts'])
        },
        methods: {
            validate() {
                if (!this.$refs.form.validate()) {
                    this.valid = false;
                }
            },
            submit() {
                this.validate();
                if (this.valid) {
                    this.loading = true;
                    axios.post('/api/infos', {
                        fName: this.fname,
                        lName: this.lname,
                        email: this.email,
                        phone: this.phone,
                        adr: this.adr,
                        zip: this.zip,
                        country: this.country,
                        comments: this.comments
                    })
                        .then((res) => {
                            if (res.status == 201) {
                                this.snackbar = true;
                                this.$store.commit('addContact', res.data);
                                setTimeout(() => {
                                    this.loading = false;
                                    this.$router.replace('/contacts');
                                }, 2000);
                            }
                        })
                }
            },
            reset() {
                this.$refs.form.reset()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
        },
    }
</script>

<style scoped>

</style>
