<template>
    <v-card>
        <v-system-bar></v-system-bar>
        <v-toolbar flat>
            <v-toolbar-title>List Contact</v-toolbar-title>
            <v-spacer></v-spacer>
            <div>
                <v-btn
                    text
                    color="deep-purple accent-4"
                    @click="$router.push('/')"
                >Accueil
                </v-btn>
            </div>
        </v-toolbar>
        <v-card-text class="grey lighten-4">
            <v-simple-table v-if="contacts.length != 0">
                <template v-slot:default>
                    <thead>
                    <tr>
                        <th class="text-left">Nom</th>
                        <th class="text-left">Prenom</th>
                        <th class="text-left">Email</th>
                        <th class="text-left">Commentaire</th>
                        <th class="text-left" width="20%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in contacts" :key="item.id">
                        <td>{{ item.fName }}</td>
                        <td>{{ item.lName }}</td>
                        <td>{{ item.email }}</td>
                        <td style="white-space:pre">{{ item.comments }}</td>
                        <td>

                            <v-btn
                                small
                                dark
                                fab
                                color="dark"
                                @click="bindEdit(item.id)"
                            >
                                <v-icon>mdi-pencil</v-icon>
                            </v-btn>
                            <v-dialog v-model="dialog" persistent max-width="600px">
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">User Contact</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-text-field
                                                    v-model="fname"
                                                    :counter="10"
                                                    :rules="nameRules"
                                                    label="Nom"
                                                    required
                                                />

                                                <v-text-field
                                                    v-model="lname"
                                                    :counter="10"
                                                    :rules="nameRules"
                                                    label="Prenom"
                                                    required
                                                />
                                            </v-row>
                                            <v-row>

                                                <v-text-field
                                                    v-model="email"
                                                    :rules="emailRules"
                                                    label="Email"
                                                    required
                                                />

                                                <v-text-field
                                                    v-model="phone"
                                                    :rules="phoneRules"
                                                    label="Téléphone"
                                                    required
                                                />

                                                <v-text-field
                                                    v-model="adr"
                                                    label="Adresse"
                                                    :rules="[() => !!adr.trim() || 'Adresse is required']"
                                                    required
                                                />
                                            </v-row>
                                            <v-row>
                                                <v-text-field
                                                    ref="zip"
                                                    v-model="zip"
                                                    :rules="[() => !!zip || 'ZIP is required']"
                                                    label="Code Postal"
                                                    required
                                                    placeholder="79938"
                                                />

                                                <v-text-field
                                                    ref="country"
                                                    v-model="country"
                                                    label="Ville"
                                                    disabled
                                                />
                                            </v-row>
                                            <v-row>
                                                <v-textarea
                                                    v-model="comments"
                                                    label="Commentaire"
                                                    placeholder="Commentaire"
                                                />
                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                                        <v-btn color="blue darken-1" text @click="saveContact(item.id)"
                                               :loading="loading">
                                            Save
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <v-btn
                                small
                                white
                                fab
                                color="red"
                                @click="bindDel(item.id)"
                            >
                                <v-icon>mdi-minus-circle</v-icon>
                            </v-btn>


                        </td>
                    </tr>
                    </tbody>
                </template>
            </v-simple-table>
            <h3 v-if="contacts.length==0" class="text-center">
                0 data found
            </h3>
        </v-card-text>
    </v-card>
</template>

<script>
    import {mapState} from 'vuex'
    import axios from 'axios';

    export default {
        name: "updateContacts",
        created() {
            console.log(this.contacts)
        },
        data: () => ({
            dialog: false,
            loading: false,
            fname: '',
            lname: '',
            nameRules: [
                v => !!v.trim() || 'Name is required',
                v => (v && v.trim().length <= 10) || 'Name must be less than 10 characters',
            ],
            email: '',
            emailRules: [
                v => !!v.trim() || 'E-mail is required',
                v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
            ],
            phone: '',
            phoneRules: [
                v => !!v.trim() || 'Phone is required',
                v => (v && !isNaN(v) && v.trim().length <= 10) || 'Phone must be less than 10 characters',
            ],
            zip: '',
            country: '',
            comments: '',
            adr: ''
        }),
        computed: {
            ...mapState(['contacts'])
        },
        methods: {
            bindEdit(id) {
                axios.get('/api/infos/' + id)
                    .then((res) => {
                        if (res.status == 200) {
                            this.fname = res.data.fName;
                            this.lname = res.data.lName;
                            this.adr = res.data.adr;
                            this.email = res.data.email;
                            this.phone = res.data.phone;
                            this.zip = res.data.zip;
                            this.country = res.data.country;
                            this.comments = res.data.comments;
                        }
                    })
                this.dialog = true
            },
            bindDel(id) {
                axios.delete('/api/infos/' + id)
                    .then(() => {
                        //this.updateData()
                        this.$store.commit('deleteContact', id)
                    })
            },
            saveContact(id) {
                this.loading = true;
                let contactUpdated = {
                    fName: this.fname,
                    lName: this.lname,
                    email: this.email,
                    phone: this.phone,
                    adr: this.adr,
                    zip: this.zip,
                    country: this.country,
                    comments: this.comments,
                    id: id
                }

                axios.put('/api/infos/' + id, contactUpdated).then(() => {
                    //this.updateData();
                    this.$store.commit('updateContact', contactUpdated);
                });


                setTimeout(() => {
                    this.loading = false;
                    this.dialog = false;
                }, 2000);
            }
        },
    }
</script>

<style scoped>

</style>
